
.metadata/.ide.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/Lab_3.1697139923702.pdom
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/Lab_3.build.log
Lab_3/Debug/Lab_3.elf
